<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=username%>-Men'sBook</title>
    <link rel="stylesheet" href="profilestyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Josefin+Sans:wght@700&family=Seymour+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5f125bd884.js" crossorigin="anonymous"></script>
  </head>
  <body>