<%- include('partials/header') %>

    <nav class="navbar">
      <div class="logo">
        <img src="logo.png" alt="logo">
      </div>
      <div class="navigationlistdiv">
        <ul class="navigationlist">
          <li><i class="fa-solid fa-bolt"></i></li>
          <li><i class="fa-solid fa-paper-plane"></i></li>
          <li><i class="fa-solid fa-user"></i></li>
        </ul>
      </div>
    </nav>

<%- include('partials/footer') %>
