body{
  padding: 0;
  margin: 0;
  background: linear-gradient(144deg, rgba(33,23,200,1) 0%, rgba(136,138,186,1) 47%, rgba(63,140,122,1) 100%);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.profilenav{
  top: 0px;
  position: sticky;
  background-color: black;
  margin-bottom: 20px;
}
.navflexbox{
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.logo{
  width: 80vw;
}
.navimage{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 60px;
  width: 60px;
}
.home{
  width: 6.5vw;
  text-align: center;
  padding-top: 15px
}
.trending{
  width: 7vw;
  padding-top: 15px;
  text-align: center;
}
.options{
  width: 6.5vw;
  padding-top: 15px;
  text-align: center;
}
.large{
  font-size: 30px;
  color: white;
}
.allPeople{
  font-size: 30px;
  height: auto;
  max-height: 60vh;
  margin: auto;
  width: auto;
  position: fixed;
  overflow-y: scroll;
  background: rgb(153,218,136);
  background: linear-gradient(144deg, rgba(153,218,136,0.3) 0%, rgba(141,180,216,0.3) 47%, rgba(248,255,71,0.3) 100%);
  border-radius: 10px;
  padding: 10px 10px;
}
.gridview{
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
}
.allPeople::-webkit-scrollbar{
  display: none;
}
.allPeople {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.selctorbutton{
  background-color: transparent;
  color: black;
  border: none;
  font-size: 25px;
}
/* .centergirdlayout{
  display: flex;
  flex-direction: row;
}
.x1{
  width: 33%;
  height: auto;
  border: solid black 3px;
} */

.allpeopleflex{
  border: solid red 2px;
  width: 99vw;
  display: flex;
  flex-direction: row;
}


.x1{
  width: 32%;
  /* border: solid 3px red; */
}
.x2{
  padding-left: 55px
}
.selectorbutton{
  transition-duration: 0.2s;
  font-size:25px;
}
.selectorbutton:hover{
  color: white;
  transition-duration: 0.2s;
}

.postsflexbox{
  width: 99vw;
  margin-left: 0vw;
  display: flex;
  flex-direction: column;
}
.photos{
  display: inline-block;
  height: 7vh;
  width: 99vw;
  background-color: white;
  font-size: 30px;
  padding-top: 3vh;
  padding-left: 2vw;
  margin-bottom: 2vh;
}
.photocardsgrid{
  display: grid;
  grid-template-columns: 24.5vw 24.5vw 24.5vw 24.5vw;
  grid-row-gap: 10vh;
  margin-left: 2.5vw;
}
.postphotos{
  width: 22vw;
  height: 22vh;
}
.postedphotoclass{
  width: 22vw;
  height: 22vh;
  object-fit: cover;
}
.addimage{
  text-align: center;
  width: 22vw;
  height: 22vh;
  background: rgb(166,161,255);
  background: linear-gradient(90deg, rgba(166,161,255,1) 0%, rgba(224,228,110,1) 35%, rgba(102,234,84,1) 53%, rgba(126,219,169,1) 62%, rgba(142,202,196,1) 76%, rgba(189,231,239,1) 100%);
}
.largeplus{
  font-size: 80px;
}
.addimgbutton{
  border: none;
  border-radius: 100%;
  width: auto;
  height: auto;
  background-color: transparent;
}
.addimgbox{
  margin-top: 2vw;
}

table,th,td{
  border: 4px solid transparent;
  width: 90vw;
  margin:10px 5vw;
  text-align: center;
  font-size: 30px;
}

td{
  background-color: rgba(167, 226, 249,0.3);
}
td.username{
  transition-duration: 0.2s;
}
td.username:hover{
  transition-delay: 0.2s;
  transition-duration: 0.4s;
  background-color: rgba(165, 254, 194,0.7);
}



.sidebar{
  display: none;
  color: white;
  z-index: 5;
  text-align: center;
  min-height: 30vh;
  width: 18vw;
  background: black;
  position: absolute;
  right: 0;
  top: 63px;
  margin-right: 10px;
  animation-name: reveal;
  animation-duration: 0.5s;
}
@keyframes reveal {
  from{
    opacity: 0%;
    top: 0px;
  }
  to{
    opacity: 100%;
    top: 63px;
  }
}
.sidebarbutton{
  color: white;
  font-stretch: extra-expanded;
  width: 10vw;
  height: 4vh;
  background-color: transparent;
  border: solid purple 2px;
  transition-duration: 0.2;
}
.sidebarbutton:hover{
  transition-duration: 0.2s;
  color: black;
  background-color: white;
  transform: scale(110%);
}

.sidebarheader{
  font-weight: bolder;
  font-size: 120%;
}
.chat{
  margin: 10px 1.5vw;
  width: 14vw;
  padding: 0 0.5vw;
  height: auto;
  max-height: 30vh;
  background-color: #bdf2ef;
  overflow-x: scroll;
  color: black;
  text-align: left;
}
.chatinput{
  color: white;
  height: 4vh;
  width: 10vw;
  border-left: solid 2px purple;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: solid 2px purple;
  border-bottom: solid 2px purple;
  border-radius: ;
  background-color: transparent;
  border-right: none;
}

.chatsubmit{
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 3vw;
  height: 4.75vh;
  background-color: transparent;
  border-right: solid 2px purple;
  border-top: solid 2px purple;
  border-bottom: solid 2px purple;
  border-left: none;
  transition-duration: 0.2s;
}
.chatinput:focus{
  transition-duration: 0.2s;
  border: none;
}
.chatsubmit:hover{
  transition-duration: 0.2s;
  color: black;
  background-color: white;
}

.chatform{
  position: sticky;
  bottom: 0px;
  margin-bottom: 3px;
}
.chatusername{
  font-size: 13px;
  width: 100%;
  background-color: #b7bdb9;
  font-style: italic;
  font-stretch: semi-expanded;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.chatddiv{
  background-color: #b7bdb9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  margin-bottom: 5px;
}
.chatddiv:first-child{
  margin-top: 5px;
}
