body{
  padding-top: 5rem;
  display: flex;
  background-image: url("images/bg1.jpg");
  animation-name: background-change;
  background-size: cover;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}
@keyframes background-change {
  0%{
    background-image: url("images/bg1.jpg");
  }
  22%{
    background-image: url("images/bg2.jpg");
    background-position: center;
  }
  33%{
    background-image: url("images/bg2.jpg");
  }
  66%{
    background-image: url("images/bg3.jpg");
  }
  100%{
    background-image: url("images/bg1.jpg");
  }
}
#logo{
  height: 200px;
  width: 200px;
}
.griditem1{
  background-color: #d6d2d4ad;
  /* border: red 3px solid; */
  text-align: center;
  padding: 5%;
  width: 50vw;
  color: ;
  font-size: 20px;
}
.griditem2{
  background-color: #d6d2d4ad;
  /* border: red 3px solid; */
  text-align: center;
  padding: 5%;
  width: 50vw;
  color: yellow;
  margin: auto;
}
.miniform{
  background-color: rgba(165, 164, 227, 0.67);
  /* border: red solid 3px; */
  width: 250px;
  height: 250px;
  border-radius: 20%;
  margin: auto;
  padding: 12%;
}
.inputbox{
  position: relative;
  /* border: red solid 3px; */
  width: 100%;
  height: 12px;
  background-color: rgba(150, 150, 150, 0.55);
  border: none;
  padding: 10px;
  margin: auto;
  color: white;
  font-size: 20px;
}
.inputbox:focus{
  background-color: white;
  color:black;
  border-color: white;
}
.smallhr{
  width: 100%;
  height: 2px;
  border: none;
  background-color: rgba(82, 79, 255, 0.69);
  margin: auto;
}
button{
  height: 40px;
  width: 90px;
  background-color: rgba(150, 150, 150, 0.55);
  font-size: 20px;
  border: none;
  margin: 3px 0 3px;
  color: rgba(82, 80, 80, 1);
}
button:active{
  transition-duration: 0.3s;
  transform: scale(110%);
}
.miniform{
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.minigriditem{
  text-align: center;
  padding: 5px 0;
}

.gridhr{
  margin: auto;
  display: flex;
  flex-direction: row;
}
.gridhr1,.gridhr3{

  width: 45%;
  padding-top: 10px;
  padding-right: 4px;
  padding-left: 4px;
}
.gridhr2{
  color: rgba(82, 79, 255, 0.69);
  font-size: 20px;
  width: 10%;
  padding: 0;
}
.x4{
  padding: 0 auto;
  color: rgba(82, 80, 80, 1);
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(150, 150, 150, 0.55);

}
.hiddenscroll::-webkit-scrollbar{
  display: none;
}
.hiddenscroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
